@model SMS_ViewModels.Subject.SubjectViewModel
@{
    ViewBag.Title = "Subjects";
}


<div class="container-fluid layout">
    <div class="panel panel-default">
        <div class="panel-heading">
            <!--Heading-->
            <div class="text-uppercase headings">
                <h2>Subjects</h2>
            </div>
            <!--search add section-->
            <div class="container-fluid m-2 crudLayoud " id="subjectHead">
                <div class="row justify-content-between align-items-center d-flex flex-wrap">
                    <!-- add btn-->
                    <div class="col-lg-2 col-md-6 mb-2 mb-md-0">
                        <button id="addNew" class="btn">+ Add New Subject</button>
                    </div>
                    <!--search section-->
                    <div class="col-lg-6 col-md-5 d-flex flex-wrap justify-content-between">
                        <div class="d-flex" id="dataLimit">
                            <label class="col-form-label">Filter </label>
                            <select id="pageSize" class="form-select flex-grow-1">
                                <option value="5" selected>5</option>
                                <option value="10">10</option>
                                <option value="15">15</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                            </select>
                        </div>
                        <div class="d-flex">
                            <label for="isActiveFilter" class="col-form-label">Status: </label>
                            <select class="form-select flex-grow-1" id="isActiveFilter">
                                <option value="">All</option>
                                <option value="true">Active</option>
                                <option value="false">Inactive</option>
                            </select>
                        </div>
                        <div class="d-flex">
                            <div class="input-group">
                                <select class="form-select" id="searchCriteria">
                                    <option value="" selected>All</option>
                                    <option value="SubjectCode">Subject Code</option>
                                    <option value="Name">Name</option>
                                </select>
                            </div>
                            <input type="text" id="searchInput" class="form-control" placeholder="Search...">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Table Display data-->
        <div class="panel-body">
            <div class="table-responsive">
                <table id="subjectDetails" class="table table-bordered table-striped">
                    <thead class="tableheading text-center">
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.SubjectList.First().IsEnable)</th>
                            <th class="sortable">@Html.DisplayNameFor(model => model.SubjectList.First().SubjectCode)</th>
                            <th class="sortable">@Html.DisplayNameFor(model => model.SubjectList.First().Name)</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody class="text-center" id="tableBody"></tbody>
                </table>
                <div class="container-fluid w-100" id="paginationNextPrevious">
                    <ul class="pagination justify-content-center">
                        <li class="page-item">
                            <button id="prevButton" class="btn btn-outline-primary page-button" aria-label="Previous" onclick="previousData()">
                                <span aria-hidden="true"><i class="bi bi-chevron-left"></i></span>
                            </button>
                        </li>

                        <li class="page-item">
                            <button id="nextButton" class="btn btn-outline-primary page-button" aria-label="Next" onclick="nextData()">
                                <span aria-hidden="true"><i class="bi bi-chevron-right"></i></span>
                            </button>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>

    <!--Partial View section-->
    <div class="partialLayout">
        <div class="container-fluid" style="display:none" id="addSubjectForm">
            @*@Html.Partial("_AddSubject")*@
        </div>
    </div>

</div>


@section Scripts{

   <script src="~/SMS_Scripts/Subject/Subject.js"></script>

}




