@model SMS_ViewModels.Allocation.AllocationViewModel
@{
    ViewBag.Title = "Allocation";
}

<div class="container-fluid layout">
    <div class="panel panel-default">
        <div class="panel-heading">
            <!--Heading-->
            <div class="text-uppercase headings">
                <h2>Allocation</h2>
            </div>
        </div>
        <!--Tab-->
        <div class="container-fluid">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <!--Subject Allocations head-->
                <li class="nav-item allocationSubHead" role="presentation">
                    <button class="nav-link active" id="tab1-tab" data-bs-toggle="tab" data-bs-target="#tab1" type="button" role="tab" aria-controls="tab1" aria-selected="true">Subject Allocations</button>
                </li>
                <!--Students Allocations head-->
                <li class="nav-item allocationSubHead" role="presentation">
                    <button class="nav-link" id="tab2-tab" data-bs-toggle="tab" data-bs-target="#tab2" type="button" role="tab" aria-controls="tab2" aria-selected="false">Students Allocations</button>
                </li>
            </ul>

            <div class="tab-content" id="myTabContent">

                <!--Subject Allocation Div-->
                <div class="tab-pane show active allocationContent" id="tab1" role="tabpanel" aria-labelledby="tab1-tab">
                    <div class="container-fluid m-2 crudLayoud " id="subjectAllocationsHead">
                        <div class="search_bar2">
                            <div class="row justify-content-between align-items-center d-flex flex-wrap">
                                <!-- add Subject Allocation btn-->
                                <div class="col-lg-2 col-md-6 mb-2 mb-md-0">
                                    <button id="addNewSubjectAllocation" class="btn">+ Add Subject Allocation</button>
                                </div>

                                <div class="col-lg-6 col-md-5 d-flex flex-wrap justify-content-between">
                                    <div>

                                    </div>
                                    <div class="d-flex">
                                        <div class="input-group">
                                            <select class="form-select" id="searchCriteriaSub">
                                                <option value="" selected>All</option>
                                                <option value="TeacherName">Teacher Name</option>
                                                <option value="SubjectName">Subject Name</option>
                                            </select>
                                        </div>
                                        <input type="text" id="searchInputSub" class="form-control" placeholder="Search...">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--Subject Allocation-->
                        <div class="table-responsive">
                            <table id="subjectAllocationDetails" class="table table-bordered table-striped">
                                <thead class="tableheading text-center">
                                    <tr>
                                        <th class="sortable">Teacher</th>
                                        <th class="sortable">Subject</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody class="text-center" id="subjectAllocationTableBody"></tbody>
                            </table>

                            <div class="container-fluid" style="display:none" id="addTeacherSubjectAllocationForm">
                            </div>

                        </div>
                    </div>
                </div>


                <!--Student Allocation Div-->
                <div class="tab-pane allocationContent" id="tab2" role="tabpanel" aria-labelledby="tab2-tab">

                    <div class="container-fluid m-2 crudLayoud " id="studentAllocationsHead">
                        <div class="search_bar">
                            <div class="row justify-content-between align-items-center d-flex flex-wrap">
                                <!-- add Students Allocation btn-->
                                <div class="col-lg-2 col-md-6 mb-2 mb-md-0">
                                    <button id="addNewStudentAllocation" class="btn">+ Add Student Allocation</button>
                                </div>
                                <div class="col-lg-6 col-md-5 d-flex flex-wrap justify-content-between">
                                    <div class="d-flex">
                                        <label for="isActiveFilter" class="col-form-label">Status: </label>
                                        <select class="form-select flex-grow-1" id="isActiveFilter">
                                            <option value="">All</option>
                                            <option value="true">Active</option>
                                            <option value="false">Inactive</option>
                                        </select>
                                    </div>
                                    <div class="d-flex">
                                        <div class="input-group">
                                            <select class="form-select" id="searchCriteria">
                                                <option value="" selected>All</option>
                                                <option value="StudentName">Student Name</option>
                                                <option value="TeacherName">Teacher Name</option>
                                                <option value="SubjectName">Subject Name</option>
                                            </select>
                                        </div>
                                        <input type="text" id="searchInput" class="form-control" placeholder="Search...">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table id="studentAllocationDetails" class="table table-bordered">
                                <thead class="tableheading text-center">
                                    <tr>
                                        <th>Status</th>
                                        <th class="sortable">Student</th>
                                        <th>Details</th>
                                    </tr>
                                </thead>
                                <tbody class="text-center" id="studentAllocationTableBody"></tbody>
                            </table>

                            <div class="container-fluid" style="display:none" id="addStudentAllocationForm">

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>

@section Scripts{
    <script src="~/SMS_Scripts/Allocation/Allocation.js"></script>
}